# Scheme
*.ss~
*.ss#*
*.scm~
*.scm#*
.#*.ss

*.scm~
*.scm#*
*.scm~
*.scm#*
.#*.scm

# Scheme test
*.log

# Python
**/venv/
.env

**/compiled/
**/img/
**/.ipynb_checkpoints/
**/__pycache__/
*.pyc
*.py.swp
